li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

.the-dish{
    font-family: 'Lucida Grande';
}

.serving_size{
    margin-left: 5px;
    color: blue;
}


.button{
    background-color: lightgrey;
    color: blue;
    padding: 10px 20px; 
}

.ingredient_serving{
    display: inline-block;
}